################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DevHabit/.containers
/DevHabit/.vs
/DevHabit/bin/Debug
/DevHabit/DevHabit.Api/bin/Debug/net9.0
/DevHabit/DevHabit.Api/obj/Container
/DevHabit/DevHabit.Api/obj
/DevHabit/obj/Debug
/DevHabit/obj/Docker
